/****** Object:  Database [CSCDTeam6]    Script Date: 3/22/2022 3:27:10 PM ******/
CREATE DATABASE [CSCDTeam6]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[Templates]    Script Date: 3/22/2022 3:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Templates](
	[Type] [varchar](64) NOT NULL,
	[MinWeight] [decimal](18, 4) NULL,
	[MaxWeight] [decimal](18, 4) NULL,
	[Notes] [varchar](255) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Type] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DistinctTypes]    Script Date: 3/22/2022 3:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DistinctTypes] AS
SELECT DISTINCT Type
FROM [dbo].[Templates]
GO
/****** Object:  Table [dbo].[Specimens]    Script Date: 3/22/2022 3:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specimens](
	[SpecimensID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](64) NOT NULL,
	[Weight] [decimal](18, 4) NULL,
	[Notes] [varchar](255) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecimensID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Specimens] ADD  CONSTRAINT [CreatedDateDefaultNow]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Specimens] ADD  CONSTRAINT [LastUpdatedDefaultNow]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Templates] ADD  CONSTRAINT [TemplatesCreatedDateDefaultNow]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Templates] ADD  CONSTRAINT [TemplatesLastUpdatedDefaultNow]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Specimens]  WITH CHECK ADD FOREIGN KEY([Type])
REFERENCES [dbo].[Templates] ([Type])
GO
